/* mentor.module.css */

.mainform {
   max-width: 800px;
   margin: 0 auto;
   padding: 40px;
   border-radius: 8px;
   background-color: #f8f8f8;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 }
 
 .mainform h2 {
   text-align: center;
   margin-bottom: 30px;
   color: #333;
 }

 .mainform {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 8px;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mainform h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}
.submitButtonContainer{
 position: relative;
 left:650px
}
.termsText{
   position: relative;
   left:30px;
 bottom:24px
 }
 .termsLabel input {
    position: relative;
    top:10px;
    right:130px
 }
.mainform label {
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
}


.mainform input,
.mainform select,
.mainform textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  font-size: 16px;
  color: #333;
}

.mainform textarea {
  height: 120px;
  resize: vertical;
}

.mainform select {
  appearance: none;
  background-color: #fff;
}

 
 .mainform label {
   font-weight: bold;
   margin-bottom: 8px;
   color: #333;
 }
 
 .mainform input,
 .mainform select,
 .mainform textarea {
   width: 100%;
   padding: 10px;
   margin-bottom: 16px;
   border: 1px solid #ccc;
   border-radius: 4px;
   outline: none;
   font-size: 16px;
   color: #333;
 }
 
 .mainform textarea {
   height: 120px;
   resize: vertical;
 }
 
 .mainform select {
   appearance: none;
   background-color: #fff;
 }
 

 @media only screen and (max-width: 500px) {

  .dropdown{
    /* background-color: blue; */
    width: 160px !important;
    margin-left: 0px !important;
  }

  .mainform{
    padding: 30px;
  }

  .termsLabel input{
    right:70px  
  }
  
 }